body {
  font-family: sans-serif;
}

.wiki-item {
  margin: 0 10px 0 10px;
  box-shadow: -0em -0.1em 0.2em 0em;
}

.wiki-content {
  padding: 1px 1px 1px 1px;
}

.wiki-img {
  width: 100%;
}

.wiki-header {
  text-align: center;
  margin: auto;
}

@media (min-width: 600px) {
  /* layout for desktop*/
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .wiki-text {
    max-width: 50%;
  }
  .img-container {
    min-width: 50%;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
